In [1]:
#Importar la librería necesaria para la realización del desafío y el dataset elegido para la entrega final.
import pandas as pd

df = pd.read_csv("F:/Descargas/Cursos/VSC_PROYECTOS/TicmasPython/Proyecto_Final/2_LigaArgentinaFutbol.csv", sep = ",")

In [2]:
#Imprimir las 5 primeras filas.
df.head()

,Unnamed: 0,date_name,local_team_id,local_team,local_result,visitor_result,visitor_team,visitor_team_id
0,0,Nacional 1976 - Grupo C,1,All Boys,2,0,Aldosivi,0
1,1,Nacional 1976 - Grupo C,0,Aldosivi,4,0,All Boys,1
2,2,Superliga 2019/20 - Fecha 2,0,Aldosivi,0,0,Argentinos,7
3,3,Superliga 2018/19 - Fecha 15,7,Argentinos,1,2,Aldosivi,0
4,4,Torneo 2016 - Fecha 2,0,Aldosivi,3,2,Argentinos,7

In [3]:
#Imprimir las 5 últimas filas.
df.tail()

,Unnamed: 0,date_name,local_team_id,local_team,local_result,visitor_result,visitor_team,visitor_team_id
32849,32849,Nacional 1976 - Grupo C,93,Union,1,0,Velez,94
32850,32850,Metropolitano 1975 - Fecha 36,94,Velez,0,0,Union,93
32851,32851,Metropolitano 1975 - Fecha 17,93,Union,1,0,Velez,94
32852,32852,Metropolitano 1970 - Fecha 16,93,Union,1,1,Velez,94
32853,32853,Nacional 1969 - Fecha 7,93,Union,0,0,Velez,94

In [4]:
#Imprimir las dimensiones del dataset.
print(df.shape)

(32854, 8)

In [5]:
#Obtener la totalidad de registros por columnas.
df.count()

Unnamed: 0         32854
date_name          32854
local_team_id      32854
local_team         32854
local_result       32854
visitor_result     32854
visitor_team       32854
visitor_team_id    32854
dtype: int64

In [6]:
#Obtener más info.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32854 entries, 0 to 32853
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       32854 non-null  int64
 1   date_name        32854 non-null  object
 2   local_team_id    32854 non-null  int64
 3   local_team       32854 non-null  object
 4   local_result     32854 non-null  int64
 5   visitor_result   32854 non-null  int64
 6   visitor_team     32854 non-null  object
 7   visitor_team_id  32854 non-null  int64
dtypes: int64(5), object(3)
memory usage: 2.0+ MB

In [7]:
#Analizar el tipo de dato de cada columna.
df.dtypes

Unnamed: 0          int64
date_name          object
local_team_id       int64
local_team         object
local_result        int64
visitor_result      int64
visitor_team       object
visitor_team_id     int64
dtype: object

In [8]:
#Obtener el tipo de estructura del dataset. Ej: si es o no un DataFrame.
type(df)

pandas.core.frame.DataFrame

In [9]:
#Listar los nombres de las columnas.
print(df.columns)

Index(['Unnamed: 0', 'date_name', 'local_team_id', 'local_team',
       'local_result', 'visitor_result', 'visitor_team', 'visitor_team_id'],
      dtype='object')